:root{
    --main-color: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}
.button{
    background-image: var(--main-color);
    border-radius: 8px;
    text-transform: capitalize;
    color: #ffffff;
}